name: Baby Sharks

on:
  [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: downloading source code ...
      uses: actions/checkout@v4

    - name: downloading JDK v22 ...
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 22

    - name: creating `bin` folder for class files ...
      run: mkdir bin

    - name: compiling projects ...
      shell: bash
      run: |
        if [[ "$RUNNER_OS" == "Windows" ]]; then
          CP="lib/argon2/*;src"
        else
          CP="lib/argon2/*:src"
        fi
        javac -d bin -cp "$CP" --module-path lib/javafx-sdk-24.0.1/lib --add-modules javafx.controls,javafx.fxml,javafx.media,javafx.swing src/**/**/*.java